    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .header {
        margin-top: 25px;
        text-align: center;
        font-size: 40px;
    }

    .img {
        border-radius: 20px;
        align-self: center;
    }
    .sub_header {
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        font-style: italic;
    }

    .menu_header {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin: 30px;
    }

    .menu_container {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        column-gap: 1em;
    }

    .error {
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        font-style: italic;
        color: coral;
    }


    @media screen and (max-width: 768px) {
        .menu_container {
            grid-template-columns: repeat(1, 2fr);
        }
    }

    @media screen and (min-width: 769px) {
        .menu_container {
            grid-template-columns: repeat(3, 2fr);
        }
    }